{:roll/repl    {:port 3311}
 
 ;;:roll/nginx   {:config "conf/nginx.conf"}
 :roll/httpkit {:handler #ig/ref :roll/handler}
 
 :roll/handler {:routes coverton.handler/routes
                :middleware coverton.handler/middleware
                ;;:sente  #ig/ref :roll/sente
                }
 
 ;;:roll/sente   {:handshake-data-fn descryptors.data/handshake-data-fn}
 
 ;;:roll/file
 #_{:path "clean.edn"
    :init descryptors.data/init!
    :watch true}

 ;;:descryptors/router {:save? true}
 }
