@font-face {
    font-family: 'GothaPro';
    src:url('../fonts/GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #ffffff;
}

/*455 x 90*/
.content {
    padding: 80px;
    margin: auto;
    width: 455px;
    font-family : 'GothaPro';
    font-size : 23px;
    font-weight: normal;
    font-style: normal;
}

.wrap {
    margin: auto;
    padding: 80px;
}

.app {
    width: 100%;
}

.editor {
    width: 480px;
    margin: auto;
    border: 1px solid green;
    position: relative;
    text-align: center;
}

.editor-control {
    width: 40%;
    border: 1px solid red;
    margin: 0;
    display: inline-block;
}

.editor-label {
    position: absolute;
    border: 0;
    background-color: transparent;
    color: orange;
    font-family : 'GothaPro';
    font-size: 30px;
}


.editor-image {
    width: 330px;
    height: 330px;
    border: 1px solid black;
    margin: auto;
}

.vcenter {
    padding-top: calc((100vh - 150px) / 2);
    min-height: 100px;
}

.logo {
    height: 20px;
    width: 20px;
    margin-bottom: 0.5em;
}

.text {
    color : #1A1A1A;
    color : rgb(26, 26, 26);
    margin: 0;
}
