@font-face {
    font-family: 'GothaPro';
    src:url('../fonts/GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #ffffff;
}

/*455 x 90*/
.content {
    padding: 80px;
    margin: auto;
    width: 455px;
    font-family : 'GothaPro';
    font-size : 23px;
    font-weight: normal;
    font-style: normal;
}

.wrap {
    margin: auto;
    padding: 80px;
}

.app {
    width: 100%;
}

.editor {
    width: 480px;
    margin: auto;
    border: 0px solid green;
    text-align: center;
    position: relative;
}


.editor-control {
    width: 40%;
    border: 1px solid red;
    margin: 0;
    display: inline-block;
}

.label-container {
    position: absolute;
    width: 0px;
    height: 0px;
}


.label-border {
    border: 1px solid grey;
    padding: 10px;
    display: inline-block;
}



.item {
    display: inline-block;
    width: auto;
    height: auto;
}





.editor-label { margin: 0; padding: 0; border: 0; background-color:
    transparent; color: white; font-family : 'GothaPro'; font-size:
    30px; }

.react-drag {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-drag, .cursor {
    cursor: move;
}

.no-cursor { cursor: auto; }


.editor-image {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

.vcenter {
    padding-top: calc((100vh - 150px) / 2);
    min-height: 100px;
}

.logo {
    height: 20px;
    width: 20px;
    margin-bottom: 0.5em;
}

.text {
    color : #1A1A1A;
    color : rgb(26, 26, 26);
    margin: 0;
}

