@font-face {
    font-family: 'GothaPro';
    src:url('../fonts/GothaProReg.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #ffffff;
}

body {
    margin: 0;
}

/*455 x 90*/
.content {
    padding: 80px;
    margin: auto;
    width: 455px;
    font-family : 'GothaPro';
    font-size : 20px;
    font-weight: normal;
    font-style: normal;
}

.wrap {
    margin: auto;
    padding: 0;
}

.app {
    width: 100%;
}

.editor {
    width: 100vw;
    height: 100vh;
    margin: auto;
    border: 0px solid green;
    text-align: center;
    position: relative;
}


.label-container {
    position: absolute;
    width: 0px;
    height: 0px;
}


.label-resize {
    border: 2px solid transparent;
    transition : border .2s ease-in;
    transition-delay: 1.3s;
    margin: 0;
    padding: 10px;
    font-size: 60px;
}


.react-draggable:hover .label-resize {
    border: 2px solid grey;
    transition-delay: 0s;
}

.label-resize:focus {
    border: 2px solid grey;
}


.item {
    display: inline-block;
    width: auto;
    height: auto;
}



.react-draggable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: move;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}


.editor-image {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

.vcenter {
    padding-top: calc((100vh - 150px) / 2);
    min-height: 100px;
}

.logo {
    height: 20px;
    width: 20px;
    margin-bottom: 0.5em;
}

.text {
    color : #1A1A1A;
    color : rgb(26, 26, 26);
    margin: 0;
}

